<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List popular languages used in Data Science
- List commonly used libraries in Data Science
- List commonly used Tools in Data Science
- Show examples of Arthemetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Panda
3. Matplotib
4. SciPy
5. Plotly

| Data Science Tools |
|--------------------|
|Jupyter Notebook|
|Github|
|MySQL|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>
2+2 <br>
3*5 <br>
4-1 <br>
6//7

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

<h2>Author</h2>
Amit Kumar Yadav